<div class="col-lg-12 col-md-12 center gap-2 mb-3">
    <div class="card shadow">
        <div id="tower_box">
            <!-- Select/Deselect All Buttons -->
            <div class="d-flex m-2 justify-content-between">
                <h2 id="towerHeader" class="text">
                    <i class="bi bi-broadcast-pin mx-2"></i>
                    Registered Towers (0)
                </h2>
                <div class="">
                    <button id="selectAllBtn" class="btn btn-primary  mx-1">
                        <i class="bi bi-toggle-on mx-2"></i>
                        Select All
                    </button>
                    <button id="deselectAllBtn" class="btn btn-danger  mx-1">
                        <i class="bi bi-toggle-off mx-2"></i>
                        Deselect All
                    </button>
                </div>
            </div>
            <!-- Scrollable List -->
            <div class="overflow-auto" id="towerInfo"></div>
        </div>
    </div>
</div>
